In [64]:
import pandas as pd

In [65]:
df=pd.read_csv(r"C:\Users\VBALA\Downloads\spotify_millsongdata.csv")

In [66]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [67]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [68]:
df.shape

(57650, 4)

In [69]:
df.isnull().sum()  #check for null values in dataset

artist    0
song      0
link      0
text      0
dtype: int64

In [74]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [75]:
df.head(10)

,artist,song,text
0,Cat Stevens,Changes Iv,Don't you feel a change a coming \r\nFrom ano...
1,Billie Holiday,Everything Happens To Me,Black cats creep across my path \r\nUntil I'm...
2,Phish,Bittersweet Motel,When the only tool you have is a hammer \r\nE...
3,Tim McGraw,Telluride,"When I was nineteen, \r\nI threw my stuff in ..."
4,Paul Simon,Armistice Day,On Armistice Day \r\nThe Philharmonic will pl...
5,Jimmy Buffett,High Cumberland Dilemma,It's been a little fever and maybe Bucky Beave...
6,Tom T. Hall,I Hope It Rains At My Funeral,A man with forty acres plowed and planted \r\...
7,Patsy Cline,I'm Walking The Dog,I'm a-walkin' the dog and I'm never blue \r\n...
8,Doors,"Get Out Of My Life, Woman","Get out of my life, woman \r\nYou don't love ..."
9,Kiss,Keep Me Comin',I know what you're like \r\nYou're not sleepi...

In [76]:
df['text'][0]

"Don't you feel a change a coming  \r\nFrom another side of time  \r\nBreaking down the walls of silence  \r\nLifting shadows from your mind  \r\nPlacing back the missing mirrors  \r\nThat before you couldn't find  \r\nFilling mysteries of emptiness  \r\nThat yesterday left behind  \r\n  \r\nAnd we all know it's better  \r\nYesterday has past  \r\nNow let's all start the living  \r\nFor the one that's going to last  \r\nYes we all know it's better  \r\nYesterday has past  \r\nNow let's all start living  \r\nFor the one that's going to last  \r\n  \r\nDon't you feel the day is coming  \r\nThat will stay and remain  \r\nWhen your children see the answers  \r\nThat you saw the same  \r\nWhen the clouds have all gone  \r\nThere will be no more rain  \r\nAnd the beauty of all things  \r\nIs uncovered again  \r\n  \r\nAnd we all know it's better  \r\nYesterday has past  \r\nNow let's all start the living  \r\nFor the one that's going to last  \r\nYes we all know it's better  \r\nYesterday has past  \r\nNow let's all start living  \r\nFor the one that's going to last  \r\n  \r\nDon't you feel the day is coming  \r\nAnd it won't be too soon  \r\nWhen the people of the world  \r\nCan all live in one room  \r\nWhen we shake off the ancient  \r\nShake off the ancient chains of our tomb  \r\nWe will all be born again  \r\nOf the eternal womb  \r\n  \r\nAnd we all know it's better  \r\nYesterday has past  \r\nNow let's all start the living  \r\nFor the one that's going to last  \r\nYes we all know it's better  \r\nYesterday has past  \r\nNow let's all start living  \r\nFor the one that's going to last  \r\n  \r\nLet's all start living  \r\nLet's all start living, living, living, living  \r\nFor the one that's going last  \r\n(The one that's going to last)  \r\n(The one that's going to last)\r\n\r\n"

In [77]:
df.shape

(5000, 3)

In [78]:
#TEXT CLEANING OR PRE-PROCESSING
df['text']=df['text'].str.lower().replace(r'^a-zA-Z0-9','').replace(r'\r','',regex=True).replace(r'\n','',regex=True)

In [81]:
df.tail(5)

,artist,song,text
4995,R. Kelly,Only The Loot Can Make Me Happy,rockland in my life track masters you're al...
4996,Owl City,Wolf Bite,[verse 1:] it's another bad dream poison in ...
4997,Chaka Khan,Qaundary,i've seen you happy i've seen you low i've w...
4998,Donna Summer,Lucky,scared and lonely going out for the night sh...
4999,Zebrahead,Let Me Go,well some wear their feelings right on their s...

In [82]:
import nltk
from nltk.stem.porter import PorterStemmer

In [83]:
stemmer=PorterStemmer()

In [84]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [85]:
#Check how the function works with this example
token("you are beautiful,beauty,beauti")

'you are beauti , beauti , beauti'

In [102]:
#convert data into tokens
df['text'].apply(lambda x: token(x))

0       do n't you feel a chang a come from anoth side...
1       black cat creep across my path until i 'm almo...
2       when the onli tool you have is a hammer everyt...
3       when i wa nineteen , i threw my stuff in the c...
4       on armist day the philharmon will play but the...
                              ...
4995    rockland in my life track master you 're all i...
4996    [ ver 1 : ] it 's anoth bad dream poison in my...
4997    i 've seen you happi i 've seen you low i 've ...
4998    scare and lone go out for the night shakin ' a...
4999    well some wear their feel right on their sleev...
Name: text, Length: 5000, dtype: object

In [103]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [104]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [105]:
matrix=tfid.fit_transform(df['text'])

In [106]:
similar=cosine_similarity(matrix) #we basically calculate theta between two vectors

In [107]:
similar[0]

array([1.        , 0.02583844, 0.04832613, ..., 0.10697548, 0.01258183,
       0.11504099])

In [112]:
#Recommender Function
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    dist=sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for sid in dist[1:22]:
        song.append(df.iloc[sid[0]].song)
    return song

In [113]:
recommender("Wolf Bite")

['Again',
 'Nine Tonight',
 'Find Your Way Back',
 'Give Me All Your Love',
 'Tonight (From West Side Story)',
 'Man Of Our Times',
 'Tonight',
 'Stay Here Tonight',
 'I Need You Tonight',
 'Be There',
 'She Goes All The Way',
 'Dj Got Us Falling In Love',
 'Me And The Moon',
 'After Tonight',
 'Say Goodbye',
 'Come Back',
 'Hold Me',
 'The Way It Is',
 "There's No Way .",
 'Fall Out',
 'Hold On']